<!doctype html>
<html lang="en">
	{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Ela's Chickenhouse</title>

    <!-- Bootstrap core CSS -->
     <link rel="stylesheet" href="{% static 'videosite/css/bootstrap.min.css' %}">
     
     <!-- others 
     <link rel="stylesheet" href="{% static 'videosite/css/bootstrap-datepicker.min.css' %}">
     <link rel="stylesheet" href="{% static 'videosite/css/bootstrap-datetimepicker.min.css' %}">
	 <link rel="stylesheet" href="{% static 'videosite/css/jquery.dataTables.min.css' %}">
     <link rel="stylesheet" href="{% static 'videosite/css/jquery.dataTables.bootstrap4.min.css' %}">
     -->
     

	 <!--Bootstrap and Co.-->

    <script src="{% static 'videosite/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'videosite/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'videosite/js/popper.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap.min.js' %}"></script>
    
    <!-- others
    <script src="{% static 'videosite/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datetimepicker.de.js' %}"></script>
	<script src="{% static 'videosite/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'videosite/js/jquery.dataTables.bootstrap4.min.js' %}"></script>
    -->

    <!-- DataTables
    <script src="{% static 'videosite/js/jquery.dataTables.min.js' %}"></script>
    -->

    <!-- Eigenes CSS -->

    <link href="{% static 'videosite/css/main.css' %}" rel="stylesheet">

</head>

<body>
    <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="">Ela's Chickenhouse
            <img src="{% static 'videosite/img/Light_sussex_hen_bw.jpg' %}" height="35" width="35">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        {% if user.is_authenticated %}
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'FIXME'%}">Cameras</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'FIXME'%}">Kunden</a>
                  </li>
                </ul>
                <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout'%}">Logout</a>
            </div>
        {% else %}
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                      <a class="nav-link" href="{% url 'FIXME'%}">Welcome</a>
                    </li>
                </ul>
                <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login'%}">Login</a>
            </div>
        {% endif %}
        </nav>
    </header>

    <main>

           {% block content %}<!-- Platzhalter -->{% endblock %}

    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">
            <p></p>
            <p>Elas's Chickenhouse Video-Surveillance</p>
            <p align="right">
                Made by me
            </p>
        </span>
      </div>
    </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <!-- others 
    <script src="{% static 'videosite/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'videosite/js/moment-with-locales.js' %}"></script>
    <script src="{% static 'videosite/js/popper.min.js' %}"></script>
    -->
    <!-- bootstrap -->
    <script src="{% static 'videosite/js/bootstrap.min.js' %}"></script>

    <!-- others 
    <script src="{% static 'videosite/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datepicker.de.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datetimepicker.min.js' %}"></script>
    <script src="{% static 'videosite/js/bootstrap-datetimepicker.de.js' %}"></script>
    -->
  </body>
</html>