
{% extends "videosite/base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        {% if user.is_authenticated %}
            <h1 style="font-size:2vw">Kameras</h1>
            {% if cam_list %}
            <div class="table-responsive">
                <table class="table" id="dataTable">
                    <thead>
                        <tr>
                            <th style="font-size:1vw">Aktion</th>
                            <th style="font-size:1vw">Kamera-Nr.</th>
                            <th style="font-size:1vw">Host</th>
                            <th style="font-size:1vw">Name</th>
                            <th style="font-size:1vw">Position</th>
                            <th style="font-size:1vw">Img URL</th>
                            <th style="font-size:1vw">Steam URL</th>
                        </tr>
                    </thead>
                        <tbody>
                            {% for cam in cam_list %}
                                <tr>
                                    <td>
                                        <a href="{% url 'modify_cam' pk=cam.id %}">
                                            <img class = "img-responsive" src="{% static 'videosite/ico/edit.svg' %}"
                                            title="Kamera ändern"
                                            height="20" width="20"
                                            >
                                        </a>
                                        <a href="{% url 'delete_cam' pk=cam.id %}">
                                            <img class = "img-responsive" src="{% static 'videosite/ico/delete.svg' %}"
                                            title="Kamera entfernen"
                                            height="20" width="20"
                                            >
                                        </a>
                                        <a href="{% url 'cam_stream' pk=cam.id %}">
                                            <img class = "img-responsive" src="{% static 'videosite/ico/eye.svg' %}"
                                            title="Stream anzeigen"
                                            height="20" width="20"
                                            >
                                        </a>
                                    </td>
                                    <td style="font-size:1vw">{{cam.id}}</td>
                                    <td style="font-size:1vw">{{cam.host}}</td>
                                    <td style="font-size:1vw">{{cam.name}}</td>
                                    <td style="font-size:1vw">{{cam.position}}</td>
                                    <td style="font-size:1vw">{{cam.img_url}}</td>
                                    <td style="font-size:1vw">{{cam.stream_url}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                </table>
                {% else %}
                    <p>Es sind aktuell keine Kameras verfügbar.</p>
            </div>
            {% endif %}
        </div>
        <div class="container">
            <p>
            <a href="{% url 'create_cam' %}" class="btn btn-primary">Kamera hinzufügen</a>
            <a href="{% url 'index' %}" class="btn btn-secondary">Zurück</a>
            </p>
        </div>
    {% else %}    
        <div style="color:red">
            <h2>Authentication error</h2>
            <p>Login please!</p>
        </div>
    {% endif %}
    
{% endblock %}